<html>
<head>
<title>mysql monitor</title>
<link href="/static/style.css" rel="stylesheet" type="text/css"> 
</head>

<body>
<div class="div">
<table class="gridtable">
  <tr>
    <th colspan="10">Mysql information</th>
  </tr>
  <tr>
    <th rowspan="2">Intance</th>
    <th rowspan="2">Mysql Status</th>
    <th colspan="3">Host Stats</th>
    <th colspan="3">Server Stats</th>
    <th rowspan="2">Version</th>
    <th rowspan="2">Last Updated</th>
  </tr>
  <tr>
    <th>Ping(us)</th>
    <th>CPU Util(%)</th>
    <th>Uptime</th>
    <th>Queries/s</th>
    <th>Connections</th>
    <th>Uptime</th>
  </tr>
  <tr>
  {% for item in navigation %}
    <td>{{item}}</td>
  {% endfor %}
  </tr>
</table>
</div>
</body>
</html>